/* box de imagem dos artistas */
.container-artistas {
    display: flex;
    gap: 20px;
}

.box-artista {
    position: relative;
    width: 250px;
    height: 250px;
}

.img-artista {
    width: 250px;
    height: 250px;
}

.img-artista img {
    width: 100%;
    height: 100%;
}

/* box de apresentação encima dos artistas */
.box-apresentacao-artista {
    position: absolute;
    top: 0;
    z-index: 0;
    cursor: pointer;
    width: 250px;
    height: 250px;
    background-color: rgb(0,0,0, 0.7);
}

.box-apresentacao-artista:hover {
    opacity: 0;
    transition: 2s;
}

/* nome de apresentação dos artistas*/
.numero-artista {
    position: absolute;
    left: 85%;
    top: 5px;
    padding: 5px;
    margin-right: 20px;
    background-color: #ff0301;
    border-radius: 5px;
}

.box-conteudo-apresentacao {
    text-align: center;
    padding-top: 20px;
    height: 180px;
    display: flex;
    flex-direction: column;
}

.box-apresentacao-artista p {
    font-size: 1.3em;
    color: white;
    text-align: center;
}

.span-artistas {
    font-size: 2em;
    color: white;
    padding-top: 40px;
}

.bio-artista p {
    font-size: 1.2em;
    text-align: justify;
    color: gray;
    padding-right: 5px;
    padding-left: 5px;
}

/* Modal dos artitas */
.container-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0,0,0, 0.7);
    z-index: 100;
}

/* btn de fechar o modal */
.modal-close {
    font-size: 2em;
    color: red;
    margin-bottom: 5px;
    cursor: pointer;
    z-index: 4;
}

/* para tela desktop */
@media (min-width: 800px) {

    .container-artistas {
        flex-wrap: wrap;
    }

    /* modal para desktop */
    .box-modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 1000px;
    }

    .modal-artista {
        width: 100%;
        height: 500px;
    }

    .modal-img-artista {
        width: 600px;
        height: 500px;
    }

    .modal-img-artista img {
        width: 100%;
        height: 100%;
    }

    .box-modal-artista {
        display: flex;
        width: 100%;
    }

    .informacoes-artista {
        text-align: center;
        background-color: white;
        width: 400px;
    }

    .nome-artista {
        font-size: 2em;
    }

    .funcao-artista {
        font-size: 2em;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .bio-artista {
        width: 100%;
        height: 300px;
        text-align: left;
        text-indent: 20px;
    }

    .bio-artista p {
        margin-right: 5px;
        margin-left: 5px;
    }

    /* botao para fechar modal em modo desktop */
    .modal-close {
        position: absolute;
        left: 97%;
        z-index: 3;
    }

    
}

/* para tela mobile */
@media (max-width: 799px) {
    /* modal para mobile */
    .box-modal {
        position: absolute;
        height: 100vh;
        width: 100%;
    }

    .modal-artista {
        width: 100%;
        height: 95vh;
        margin-right: 20px;
        margin-top: 20px;
        background-color: white;
    }

    .modal-img-artista img{
        width: 100%;
        height: 200px;
        border-bottom: 2px solid #ff0301;
    }

    .informacoes-artista {
        text-align: center;
    }

    .nome-artista {
        font-size: 2em;
    }

    .funcao-artista {
        font-size: 2em;
        margin: 20px 0px;
    }

    .bio-artista {
        margin-top: 10px;
        text-align: left;
        text-indent: 20px;
        margin-right: 10px;
        margin-left: 10px;
        font-size: .9em;
    }

    /* botao para fechar modal em modo mobile */
    .modal-close {
        position: absolute;
        left: 90%;
        z-index: 3;
    }
}